.vscode-test/
src/
scripts/
tests/
node_modules/**
!node_modules/web-tree-sitter/**
!node_modules/tree-sitter-cpp/tree-sitter-cpp.wasm
*.vsix
.vscode/
.github/
tsconfig.json
ROADMAP.md
HOW-TO.md
DEMO.md
MEMORY_AUDIT_PLAN.md
.gitignore
.eslintrc*
